<p id="notice"><%= notice %></p>

<h1>Article 365s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article_365s.each do |article_365| %>
      <tr>
        <td><%= article_365.title %></td>
        <td><%= article_365.body %></td>
        <td><%= link_to 'Show', article_365 %></td>
        <td><%= link_to 'Edit', edit_article_365_path(article_365) %></td>
        <td><%= link_to 'Destroy', article_365, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article 365', new_article_365_path %>
