<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article_365.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article_365.body %>
</p>

<%= link_to 'Edit', edit_article_365_path(@article_365) %> |
<%= link_to 'Back', article_365s_path %>
